// couleurs
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

// palette de couleur
$couleurs: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

.test-btn {
    background-color: map-get($couleurs, "purple");
}

// @debug map-get($couleurs, "purple");
// @debug map-has-key($couleurs, "secondary");
// @debug map-has-key($couleurs, "trois");
// @debug map-remove($couleurs, "primary");
// @debug map-merge($couleurs, ("pink": #ffc0cb));

// espacements
$base-margin: 0.75rem;
$base-padding: 0.75rem;

//bords
$base-border-thickness: 1px;
$base-border-radius: 20px;

// ombre
$base-box-shadow: 1px 3px 5px black;

// taille police
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
